.container{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
img{
  border-radius: 50%;

}
body{
  background-color: black;
  margin: 0%;
  padding: 0%;
}
.groundTitle{
  color: darkorange;
  font-size: 50px;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 0%;
  margin-right: 0%;
}
.imag{
  
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  border-radius: 30%;
  
  
  
}
.btn{
  display:flex;
  justify-content:flex-end;
  
  
}
.title{
  color:rgb(232, 116, 16);
  text-transform: uppercase;
  font-size: 20px;
}

.description{
  color: white !important;
text-transform: lowercase;
font-size:  15px;
}